<div class="page-level {{ wrapper_extra_classes | default('') }}">
    {% if page_level_content is defined %}
        <div class="page-level__content">
            {{ page_level_content | raw }}
        </div>
    {% endif %}
</div>

