

.page-header__site-name {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.075em;
}

.page-header__site-name,
.page-header__site-name a {
    text-decoration: none;
    border: none;
}

.page-header__site-tagline {
  margin-left: 0.75em;
  font-size: 1em;

  font-style: italic;
}

