<header class="page__header fit-content color-zone--brand">
    {% if document_properties.site_name is defined %}
        <div class="page-header__site-name">
            <a href="/" title="Home">
                {{ document_properties.site_name }}
            </a>
        </div>
    {% endif %}

    {% if document_properties.site_tagline_1 is defined %}
        <div class="page-header__site-tagline">
            {{ document_properties.site_tagline_1 }}
        </div>
    {% endif %}
</header>
