.squeeze {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 800px) {
    .squeeze {
        max-width: var(80%);
    }
}

@media (min-width: 1200px) {
    .squeeze {
        max-width: var(--squeeze-width);
    }
}

