
/* Meta-element for checking systems' wiring. */

.meta-check-systems-wiring--css-bg-image {
  padding-bottom: 66.7%;

  background: whitesmoke url('../../assets-static/demo/img3.png') scroll no-repeat center center;
  background-size: cover;
}
