
/* Meta-element for checking systems' wiring. */

.meta-check-systems-wiring--css-bg-image {
  padding-bottom: 66.7%;

  background: url('../../assets-static/images/for-demo/photo-1-700.jpg') scroll no-repeat center center;
  background-size: cover;
}
